/*Body*/

body {
    margin: 0;
    padding: 0;
    background-color: #f3e5c7;
}

.wrapper {
    margin: 5%;
    padding: 0 10px;
}
    
/*Header*/

.header {
    background-color: #e2b657;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10px;
    text-align: center;
}

.header-title {
    color: #555152;
    font-family: 'Satisfy', cursive;
    margin-bottom: -5px;
}

.header-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
}

.header-list li {
    text-align: center;
    margin-right: 20px;
}

.header-list-link {
    color: #555152;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

/*Main*/

.main {
    background-color: #e9dfbe;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-top: 10px;
}

/*Main Section */

.main-section {
    border-radius: 1em;
    text-align: center;
    background-color: #e5d499;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.main-section-subtitle {
    color: #99173C;
    font-family: 'Lobster Two', cursive;
}

/* Main Section Form*/

.main-section-form {
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 255px;
}

.form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.form-element label {
    color: #6e152e;
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
}

.form-element input, select {
    border-radius: 1em;
    padding: 5px;
    text-align: center;
    border: none;
    outline: none;
}


.form-element-btn {
    margin-top: 5px;
}

.form-element-btn button {
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 1em;
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
    color: #d1cbb8; 
    background-color: #6e152e;
}

.form-element-btn button:hover {
    background-color: #99173C;
    color: #DCE9BE;
}

/*Main Aside*/

.main-aside {
    background-color: #e5d499;
    border-radius: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10%;
    height: 653.813px;
}

.picture-one {

    height: 255px;
    border-radius: 1em;   
}

.aside-list {
    list-style: none;
    margin-left: -30px;

}

.aside-list li {
    margin: 10px auto;
    width: auto;
    height: 35px;
    text-align: center;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    font-family: 'Open Sans', sans-serif;
    color: #d1cbb8; 
    background-color: #6e152e;
}
.aside-list li button {
    border: none;
    outline: none;
    color: #d1cbb8; 
    background-color: #6e152e;
}


.aside-list li button:hover {
    background-color: #DCE9BE;
    color: #030303;
}
.aside-list li:hover {
    background-color: #DCE9BE;
    color: #030303;
}

.aside-list-element-link {
    text-decoration: none;
    color: #d1cbb8; 
}

.aside-list-element-link:hover {
    color: #030303; 
}


/*Cards*/

.cards-container {
    display: grid;
    grid-template-columns: 100%;
    background-color: #e9dfbe;
    padding: 10px;
}

.card {
    background-color: #e5d499;
    border: 1px solid red;
    border-radius: 1em;
    display: grid;
    grid-template-rows: 50% 50%;
    padding: 10px;
    height: 400px;
    margin-bottom: 10px;
}

.card-picture {
    margin: 0 auto;
    height: 140px;
    border-radius: 1em;

}

.card-information {
    display: flex;
    flex-direction: column;
    margin-top: -50px;
}

.card-information-name, span {
    color: #99173C;
    font-family: 'Lobster Two', cursive;
}
.card-information-text, .card-information-name {
    align-self: flex-start;
    margin: 5px 10px;
}


/* Footer */

.footer {
    background-color: #e2b657;
    text-align: center;
    padding: 5px;
}

.footer p {
    color: #555152;
    font-family: 'Satisfy', cursive;
}

/* Media Queries*/

@media screen and (min-width: 768px) {
    .header {
        display: flex;
        flex-flow: row wrap;
    }

    .header-list {
        display: flex;
        flex-flow: row wrap;
        margin-left: 0;
    }

    .header-list li {
        padding-left: 10px;
        font-size: 20px;
    }

    .main {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 10px;
        padding:2%;

    }

    .main-section {
        border-radius: 1em;
        text-align: center;
        background-color: #e5d499;
        padding: 5px 20px;
        margin-bottom: 10px;
        width: 300px;
    }

    .main-section-form {
        width: 300px;
    }

    .cards-container {
        grid-template-columns: 50% 50%;
    }

    .card {
        margin-left: 10px;
        
    }
}



@media screen and (min-width: 1024px) {
    .header-list li {
        padding-left: 30px;
    }

    .wrapper {
        margin: 2% 10%;
    }

    .main-section {
       width: 350px;
       padding: 5%;
    }

    .main-section-form {
        width: 350px;
    }

    .card {
        border: 1px solid red;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (min-width: 1440px){
    .main {
        margin: 2% auto;
        justify-content: space-evenly;
        max-width: 1200px;
    }

    .main-aside {
        flex-flow: column wrap;

    }

    .cards-container {
        grid-template-columns: 33% 33% 33%;
    }
}

@media screen and (min-width: 2560px){
    .main {
        margin: 2% auto;
        justify-content: space-evenly;
        max-width: 1200px;
    }

    .main-aside {
        flex-flow: column wrap;
    }

    .cards-container {
        grid-template-columns: 25% 25% 25% 25%;
    }
}

